<footer  class="bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top position-sticky">
    <p class="col-md-4 mb-0 text-muted">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </p>
    <p>
        <div>
            <p class="footer-links">
                <%= link_to "Contact Us", pages_contact_path, class: "page-scroll" %>
                <%= link_to "About Us", pages_about_path, class: "page-scroll" %>
            </p>
    </p>
    <p></p>
</footer>
